:root {
  --dark: blueviolet;
  --light: aliceblue;
  --navlink-color: lightblue;
  --basics: Georgia, "Times New Roman", Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--dark);
  color: aliceblue;
  font-family: var(--basics);
  border: 15px solid green;
}

body {
  background-color: slategray;
  margin: 0;
border: 15px solid purple;
}

.container {
  height: 400px;
  width: 250px;
  font-family: var(--basics);
  color: var(--light);
  border-right: 15px solid var(--light);
  padding: 20px;
  font-size: 24px;
  float: left;
}

.information {
  height: 400px;
  padding: 35px;
  display: flex;
  color: var(--light);
}

img {
  height: 200px;
  width: 250px;
}

.work {
  display: flex;
  border: 15px dotted pink;
}
h2,
h3 {
padding: 30px;
}